<% include ./partials/header %>

<!-- start the navbar -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/teacher/create-quiz">Create Quiz</a>
    <a class="navbar-brand" href="/teacher/saved-quiz">Saved Quiz</a>
    <a class="navbar-brand" href="/teacher/published-quiz">Published Quiz</a>
    <a class="navbar-brand" href="/user/logout">Logout</a>
</nav>
<!-- end the navbar -->

<% if(publishQuiz.length > 0){ %>
    <% publishQuiz.forEach((question,index) => { %>
        <div class="col-sm-12 displayedQuestion">

            <div class="headQuestion">
                <p>Q(<%= index+1 %>): <%= question.main %></p>
            </div>

            <div class="wrongAnswer">
                <p><span>1- </span> <%= question.wrongAnswers[0] %></p>
            </div>

            <div class="wrongAnswer">
                <p><span>2- </span> <%= question.wrongAnswers[1] %></p>
            </div>

            <div class="correctAnswer">
                <p><span>3- </span> <%= question.correctAnswer %> <span><i class="fas fa-check"></i></span></p>
            </div>

            <div class="wrongAnswer">
                <p><span>4- </span> <%= question.wrongAnswers[2] %></p>
            </div>
        
            <div class="explanation">
                <p class="alert-success"><span>The Explanation: </span><%= question.explanation %></p>
            </div>    


        </div>

        <hr>
    <% }) %>
<% } %>
            
<% include ./partials/footer %>
